extends layout

block content
  a(href="/docs") All docs
  h1= title
  div(id="pos-div")

  script(type="text/javascript")
    init = function () {
      // get the doc id from the parameters
      var id = getParams().id;
      var view = getParams().view;

      // retrieve and render it
      if (view === "mention") {
        getMongoDocAndMentions(id, function (doc, mentions) { renderDocAndMentions(doc, mentions, getDocMentionData) });
      }
      else {
        getMongoDoc(id, function (doc) { renderDoc(doc, getDocData) });
      }
    }

    $(document).load(init())
