extends layout

block content
  h1= title
  div(id="doc-list")
  script(typ="text/javascript")
    var success = function(data, textStatus, jqXHR) {
        console.log(data.results);
        _.each(data.results, function(doc) {
            $("#doc-list").append('<p><a href="/doc?id=' + doc._id.$oid + '&view=mention">' + doc.name + '</a></p>')
        })
    };

    init = function () {
      getMongoDocList(success)
    };

    $(document).load(init());

