doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/underscore.js')

    link(rel='stylesheet', href='/assets/brat/style-vis.css')
    script(src='/assets/brat/client/lib/head.load.min.js')
    script(src='/assets/js/brat.js')
    script(src='/assets/js/mongo.js')

  body
    block content
